conftest 0.44.1
golang 1.21.11
golangci-lint 1.59.1
pre-commit 3.3.3
regula 3.2.1 # https://github.com/launchbynttdata/asdf-regula
terraform 1.5.5
terraform-docs 0.16.0
terragrunt 0.51.6
tflint 0.51.2
